<!DOCTYPE html>
<html lang="en">
<head> 
    <meta charset="UTF-8"> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link rel="icon" type="image/png" href="/image/logo.png">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Diabetes@Home</title>
</head>
<body> 
    <header> 
        <nav id="before_log_phone_header">
            <ul>
                <img src="/images/ic_dehaze_24px.png" id="menu_icon">
                <li><img id="phone_logo" src="/images/logo_white.png"></li>
            </ul>
            <hr/>
        </nav>
        </nav id='after_log_web_header'>
            <ul>
                <li><img src="/images/logo.png"></li>
                    <li><b href="/">DASHBOARD</b></li>
                    <li><b href="/">PATIENT DETAILS</b></li>
                    <li><b href="/">COMMENT LIST</b></li>
                    <ri><a href="/">Log out</a></ri>
            </ul>
        </nav>
        <nav id="before_log_web_header">
            <ul>
                <li><img src="/images/logo.png"></li>
                    <li><a href="/">Home</a></li>
                    <li><a href="/aboutdiabetes">About Diabetes</a></li>
                    <li><a href="/aboutus">About Us</a></li>
                    <li><a href="#">Settings</a></li>
            </ul>
            <hr/>
            <p>Diabetes@Home</p>
        </nav>
    </header> 
    <main> 
        {{{body}}} 
    </main> 

</body>
</html>