<!DOCTYPE html>
<html>
	<head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Patient Achievement</title>
        <link rel="icon" type="image/png" href="/images/logo.png">
        <link rel="stylesheet" href="/css/p_achievement.css" />
    </head>
	<body>
		<header>
				<nav id='after_log_web_header'>
					<ul>
						<li><img src="/images/logo.png"></li>
							<li><b href="/record">DASHBOARD</b></li>
							<li><a href="/aboutus">ABOUT US</a></li>
							<li><a href="/aboutdiabetes">ABOUT DIABETES</a></li>
							<li><a href="/#">SWITCH MODE</a></li>
							<ri><form method="POST" action="/logout"><button>Logout</button></form></ri>
							{{#with oneItem}}
								<ri><a>{{first_name}}</a></ri>
							{{/with}}
							<ri><img id="patientImg" src="/images/patient.png"  width="70" height="70"></ri>
					</ul>
				</nav>            
			</header>

		<main id="phone_content"></main>

		<main id="other_content">
			<div class="dashboard">
				<h2></h2>
				<div class="patient_info">
					<h1>Patient Informations:</h1>
					<img src="/images/patient.png">
					{{#with oneItem}}
						<p class="info_text"> Patient Name: {{screen_name}}</p>
					{{/with}}
				</div>

				<div class="achieved">
					<div class="engagement">
						<h3>You did it! Your engagement is over {{rate}}%</h3>
					</div>
					<div class="days">
						<label class="record_text">Great to see you for</label>
						
						<input type="number" class="form_input" name="data_content" />
						{{#with oneItem}}
							{{#if this.blood_glucose_level}}
							<br/>
							<label class="form_digit">Last Record: {{this.blood_glucose_level}}</label>
							{{/if}}
						{{/with}}

						<img class="image" src="/images/day.jpg">
					</div>
				</div>
				<div class="ranking">
					<h1>Who is the most engaging person?</h1>
					<img class="image" src="/images/medal.png">
				</div>
				<div class="buttons">
				<button class="record_button" onclick="window.location.href='/record'">Record data</button>
				<button class="history_button" onclick="window.location.href='/patient_hdetail'">View data</button>

			</div>
			</div>

			
		

		</main>

	</body>
</html>