<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Clinician Login</title>
        <link rel="icon" type="image/png" href="/images/logo.png">
        <link rel="stylesheet" href="/css/clinician_login.css" />
    </head>
    <body>
        <main class="other_version">
            <div id="slogan">
                <p>We are supporting about 5000 diabetic patients and 100 clinicians in Victoria.</p>
            </div>
            <img id="doc_image" src="/images/doc_with_folder.png">
            

            <div class="login_field">
                <h1>Diabetes@Home</h1>
                <div class="role_selection">
                    <a href="/login">Patient</a>
                    <a href="/clinicianlogin">Clinician</a>
                </div>
                <div class="login_fill">
                    <form action="clinicianlogin" method="POST">
                        <label for="username">Username</label>
                        <br/>
                        <input type="text" name="username"/>
                        <br/>
                        <label for="password">Password</label>
                        <br/>
                        <input type="password" name="password"/>
                        <br/>
                        <input type="submit" value="Sign In" />
                    </form>
                </div>
            </div>
            

        </main>
        <footer>
            <h2>Meet Issues</h2>
            <p>If you have any issue with sign in or sign up, please send us an email.</p>
            <hr/>
            <div id="links">
                <a href="/aboutus">About Us</a>
                <a href="/aboutdiabetes">About Diabetes</a>
                <a href="/aboutus">Contact Us</a>
                <img id="gmail_icon" src="/images/gmail_icon.png">
            </div>
        </footer>
    </body>


</html>