<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Clinician Home</title>
        <link rel="icon" type="image/png" href="/image/logo.png">
        <link rel="stylesheet" href="/css/clinician.css" />
    </head>

    <body>
        <main>
            <div class="dashboard">
                <h1>Patient overview is here!</h1>


                <table class="dashboard_table">
                    
                    <tr>
                        <th>Patient ID</th>
                        <th>Patient Name</th>
                        <th>DOB</th>
                        <th>Gender</th>
                        <th>Blood Glucose Level/Threshold (nmol/L)</th>
                        <th>Weight/Threshold (kg)</th>
                        <th>Doses of insulin taken/Threshold (Number of doses)</th>
                        <th>Exercise/Recommended Amount of Exercise (step count)</th>
                    </tr>
                    
                    <tr>
                        <td>3055</td>
                        <td>Jone</td>
                        <td>02/02/2022</td>
                        <td>Male</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>

            </div>


            
        </main>
        
    </body>>
</html>