<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Comment List</title>
        <link rel="icon" type="image/png" href="/image/logo.png">
        <link rel="stylesheet" href="/css/clinician.css" />
    </head>

    <body>
        <header>
            </nav id='after_log_web_header'>
                <ul>
                    <li><img src="/images/logo.png"></li>
                        <li><a href="/clinicianhome">DASHBOARD</a></li>
                        <li><a href="#">PATIENT DETAILS</a></li>
                        <li><b href="/cliniciancomment">COMMENT LIST</b></li>
                        <ri><a href="/">Log out</a></ri>
                        <ri><a href="#">Chris</a></ri>
                        <ri><img id="clinicianImg" src="images/clinician_pic.jpg"  width="70" height="70"></ri>
                </ul>
            </nav>            
        </header>
        <main>
            <div class="dashboard">
                <h1>Patient comments overview</h1>

                <h2>Search for a patient</h2>


                <table class="dashboard_table">
                    <tr>
                        <th>Patient ID</th>
                        <th>Patient Name</th>
                        <th>Gender</th>
                        <th>Comment Date</th>
                        <th>Comments (click to see complete comment)</th>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>

            </div>


            
        </main>
        
    </body>>
</html>