<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Comment List</title>
        <link rel="icon" type="image/png" href="/images/logo.png">
        <link rel="stylesheet" href="/css/clinician.css" />
    </head>

    <body>
        <main>
            <div class="dashboard">
                <h1>Patient comments overview</h1>


                <table class="dashboard_table">
                    <tr>
                        <th>Patient ID</th>
                        <th>Patient Name</th>
                        <th>Gender</th>
                        <th>Comment Date</th>
                        <th>Comments (click to see complete comment)</th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>

            </div>


            
        </main>
        
    </body>>
</html>