<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>c historical detail</title>
        <link rel="icon" type="image/png" href="/images/logo.png">
        <link rel="stylesheet" href="/css/c_patientdetail.css"/>
        <script src="/js/buttonInteraction.js"></script>
    </head>

    <body>
        <header>
            <nav id='after_log_web_header'>
                <ul>
                    <li><img src="/images/logo.png"></li>
                        <li><a href="/clinicianhome">DASHBOARD</a></li>
                        <li><b>PATIENT DETAILS</b></li>
                        <li><a href="/comment">COMMENT LIST</a></li>
                        <ri><form method="POST" action="/logout"><button>Logout</button></form></ri>
                        <ri><a href="#">
                            {{#with oneItem}}
                                {{this.first_name}}
                            {{/with}}
                        </a></ri>
                        <ri><img id="clinicianImg" src="/images/clinician_pic.jpg"  width="70" height="70"></ri>
                </ul>
            </nav>            
        </header>

        <main>
            <div class="dashboard">
                <h2>Working with individual patients</h2>
                <div class="patient_info">
                    <h1>Patient Informations:</h1>
                    <img src="/images/info_avatar.png">
                    <h3>Patient ID: </h3>
                    <h3>Patient Name: </h3>
                </div>

                <div class="support_message">
                    <h1>Send a support message:</h1>
                    <textarea class="p_hdetail_support_message_content" id="support-message-content"></textarea>
                    <button class="p_hdetail_submit_button" onclick="changeEditable('false', 'support-message-content')">SAVE</button>
                </div>

                <div class="patient_data">
                    <h1>View last results:</h1>

                    <form id="data_form" action="/patient/record" method="POST">
                    <h2></h2>
                    <label class="record_text">Weight:</label>
                    <input type="number" class="form_input" name="data_content" disabled="disabled" value="10"/>
                    <label class="record_text">kg</label>
                    <h2></h2>
                    <h3>Last record time: </h3>
                    <h2></h2>
                    <label class="record_text">Blood Glucose Level:</label>
                    <input type="number" class="form_input" name="data_content" disabled="disabled" value="10"/>
                    <label class="record_text">nmol/L</label>
                    <h2></h2>
                    <h3>Last record time: </h3>
                    <h2></h2>
                    <label class="record_text">Doses of insulin taken:</label>
                    <input type="number" class="form_input" name="data_content" disabled="disbaled" value="10"/>
                    <label class="record_text">Doses</label>
                    <h2></h2>
                    <h3>Last record time: </h3>
                    <h2></h2>
                    <label class="record_text">Exercise:</label>
                    <input type="number" class="form_input" name="data_content" disabled="disabled" value="10"/>
                    <label class="record_text">Steps</label>
                    <h2></h2>
                    <h3>Last record time: </h3>
                </div>

                <button class="back_button" onclick="window.location.href='/c_patientdetail'">Go back</button>
            </div>
        </main>
    </body>
</html>