<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>c patient detail</title>
        <link rel="icon" type="image/png" href="/image/logo.png">
        <link rel="stylesheet" href="/css/clinician.css" />
    </head>
    <body>
         <header>
            </nav id='after_log_web_header'>
                <ul>
                    <li><img src="/images/logo.png"></li>
                        <li><b href="/clinicianhome">DASHBOARD</b></li>
                        <li><a href="#">PATIENT DETAILS</a></li>
                        <li><a href="/cliniciancomment">COMMENT LIST</a></li>
                        <ri><a href="/">Log out</a></ri>
                        <ri><a href="#">Cris</a></ri>
                        <ri><img id="clinicianImg" src="images/clinician_pic.jpg"  width="70" height="70"></ri>
                </ul>
            </nav>            
        </header>    

    </body>
</html>
