<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>p historical detail</title>
        <link rel="icon" type="image/png" href="/images/logo.png">
        <link rel="stylesheet" href="/css/patientdetail.css"/>
        <script src="/js/buttonInteraction.js"></script>
    </head>

    <body>
        <header>
            <nav id='after_log_web_header'>
                <ul>
                    <li><img src="/images/logo.png"></li>
                        <li><b href="/record">DASHBOARD</b></li>
                        <li><a href="/aboutus">ABOUT US</a></li>
                        <li><a href="/aboutdiabetes">ABOUT DIABETES</a></li>
                        <li><button class="header_button" 
                            onclick="changeDarkmode()">SWITCH MODE</button></li>
                        <ri><form method="POST" action="/logout"><button>Logout</button></form></ri>
                        {{#with oneItem}}
                            <ri><a>{{first_name}}</a></ri>
                        {{/with}}
                        <ri><img class="patient_img" src="/images/patient.png"></ri>
                </ul>
            </nav>            
        </header>

        <main>
            <div class="dashboard">
                <h2>View your historical data!</h2>

                <div class="patient_info">
                    <h1>Patient Informations:</h1>
                    <img src="/images/info_avatar.png">
                    <h3>Patient ID</h3>
                    <h3>Patient Name</h3>
                </div>

                <div class="support_message">
                    <h1>Send a support message:</h1>
                    <textarea class="support_message_content" id="support-message-content"
                        disabled="disabled">This is a message.</textarea>
                    <button class="edit_button" onclick="changeEditable('true', 'support-message-content')">EDIT</button>
                    <button class="submit_button" onclick="changeEditable('false', 'support-message-content')">SAVE</button>
                </div>
                <img class="data_image" src="/images/imgPlaceholder.jpg">
                <button class="back_button" onclick="window.location.href='/record'">Go back</button>
            </div>
        </main>
    </body>
</html>