<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>About This Website</title>
        <link rel="icon" type="image/png" href="/image/logo.png">
        <link rel="stylesheet" href="/css/record.css" />
    </head>
    <body>
        <main>
            <div id="user_info">
                <img id="user_avatar" src="/images/avatar.png" >
                <h1 id="screen_name">Pat</h1>
            </div>

            <form id="data_form" action="/patient_record" method="POST">
                <div class="form_field"></div>
                        <input class="radio" type="radio" name="check_bg" />
                        <label class="form_label" id="bg_label">Blood Glucose Level</label>
                        <img class="form_icon" src="/images/comment_icon.png" onclick="">
                    <br/>
                    <div class="form_info">
                        <input type="number" class="form_input" />
                        <label class="form_unit">nmol/L</label>
                        <br/>
                    </div>
                </div>
                <input id="submit" type="submit" />
            </form>
        </main>
    </body>
</html>