<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>About This Website</title>
        <link rel="icon" type="image/png" href="/image/logo.png">
        <link rel="stylesheet" href="/css/record.css" />
    </head>
    <body>
        <main>
            <div id="user_info">
                <img id="user_avatar" src="/images/avatar.png" >
                <h1 id="screen_name">Pat</h1>
            </div>

            <form action="/patient_record" method="POST">
                <input class="checkbox" type="checkbox" name="check_bg" />
                <label>Blood Glucose Level</label>
                <button type="button" name="comment"></button>
                <input type="number" name="blood_glucose" />
                <label>nmol/L</label>
                <input type="submit" />
            </form>
        </main>
    </body>
</html>