<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>About This Website</title>
        <link rel="icon" type="image/png" href="/image/logo.png">
        <link rel="stylesheet" href="/css/about.css" />
    </head>
    <body>
        <img src="/images/avatar.png" >
        <h1>Pat</h1>

        <form action="/patient_record" method="POST">
            <input type="checkbox" name="check_bg" />
            <label>Blood Glucose Level</label>
            <button type="button" name="comment"></button>
            <input type="number" name="blood_glucose" />
            <label>nmol/L</label>
            <input type="submit" />
        </form>

    </body>
</html>