<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>About This Website</title>
        <link rel="icon" type="image/png" href="/images/logo.png">
        <link rel="stylesheet" href="/css/submission.css" />
    </head>
    <body>
        <main>
            <img src="/images/cele.png"/>
            <h1>Well Done!</h1>
            <p>You Still 3 Data Need to Record For Today.</p>
            <a href="./record"><button> Back </button></a>
        </main>
    </body>
</html>