<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>c patient detail</title>
        <link rel="icon" type="image/png" href="/images/logo.png">
        <link rel="stylesheet" href="/css/viewcomment.css" />
        <script src="/js/buttonInteraction.js"></script>
    </head>

    <body>
        <header>
            <nav id='after_log_web_header'>
                <ul>
                    <li><img src="/images/logo.png"></li>
                        <li><b href="/">DASHBOARD</b></li>
                        <li><a href="#">VIEW DATA</a></li>
                        <li><a href="#">ACHIVEMENT</a></li>
                        <ri><form method="POST" action="/logout"><button>Logout</button></form></ri>
                        {{#with oneItem}}
                            <ri><a>{{first_name}}</a></ri>
                        {{/with}}
                        <ri><img id="clinicianImg" src="/images/clinician_pic.jpg"  width="70" height="70"></ri>
                </ul>
            </nav>            
        </header>        
        <main>
            
            <div class="dashboard">
                <h2>Working with individual patients</h2>

                <div class="patient_info">
                    <h1>Patient Informations:</h1>
                    <img src="/images/info_avatar.png">
                    <h3>Patient ID</h3>
                    <h3>Patient Name</h3>
                    <h3>DOB</h3>
                    <h3>Gender</h3>
                </div>
                <div class="patient_data">
                    <h1>Personalised for each patient:</h1>
                    <input class="radio" type="radio" name="check_bg" />
                    <label class="form_label" id="bg_label">Weight / Threshold</label>
                    <img class="form_icon" src="/images/comment_icon.png">
                    <h3></h3>
                    <input class="radio" type="radio" name="check_bg" />
                    <label class="form_label" id="bg_label">Blood Glucose Level / Threshold</label>
                    <img class="form_icon" src="/images/comment_icon.png">
                    <h3></h3>
                    <input class="radio" type="radio" name="check_bg" />
                    <label class="form_label" id="bg_label">Doses of insulin taken / Threshold</label>
                    <img class="form_icon" src="/images/comment_icon.png">
                    <h3></h3>
                    <input class="radio" type="radio" name="check_bg" />
                    <label class="form_label" id="bg_label">Exercise / Recommended Amount of Exercise</label>
                    <img class="form_icon" src="/images/comment_icon.png">
                </div>

                <div class="patient_note">
                    <h1>Patient notes:</h1>
                    <div class="rectangle">
                        <h4>Patient message</h4>
                    </div>
                </div>

                <img class="separate_line" src="/images/separate_line.png">
                
                <div class="clinician_note">
                    <form action="/comment/reply" method="POST"></form>
                        <h1>Clinician notes:</h1>
                        <textarea class="clinician_note_content" id="clinician-note-content"
                            disabled="disabled">This is a message.</textarea>
                        <button class="edit_button" onclick="changeEditable('true', 'clinician-note-content')">EDIT</button>
                        <input class="submit_button" onclick="changeEditable('false', 'clinician-note-content')" type="submit" value="SAVE"/>
                    </form>
                </div>

                <div class="buttons">
                    <img class="to_left" src="/images/to_left.png">
                    <button class="save_button">Save the changes</button>
                    <button class="dashboard_button" onclick="window.location.href='/clinicianhome'">Go back to Dashboard</button>
                    <button class="data_button" onclick="window.location.href='/c_historicaldetail'">Visualise Health data</button>
                    <img class="to_right" src="/images/to_right.png">
                </div>
                


            </div>
        </main>
        
    </body>>
</html>
