@media screen and (device-width: 1920px) and (device-height: 1080px){

    #before_log_phone_header {
        display: none;
    }

    #after_log_web_header {
        display: inherit;
    }

    #before_log_web_header {
        display: none;
    }

    header ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #F2F1F7;
        position: fixed;
        top: 0%;
        width: 100%;
    }

    header ri {
        float: right;
    }

    header ri a {
        display: block;
        color: white;
        text-align: center;
        padding: 15px 15px;
        text-decoration: none;
        font-family: 'Al Bayan';
        font-weight: bold;
        color: rgba(29, 32, 134, 0.65); 
        padding: 25px;
    }

    header li b {
        display: block;
        color: white;
        text-align: center;
        padding: 15px 15px;
        text-decoration: none;
        font-family: 'Al Bayan';
        font-weight: bold;
        color: rgba(29, 32, 134, 0.65); 
        padding: 25px;
    }

    main {
        margin-top: 0;
        padding: 0;
    }


    .dashboard {
        background-image:url(/images/background.png);
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
    }

    .dashboard h1 {
        padding-top: 8%;
        padding-left: 6%;
        font-family: Tamil MN;
        font-size: 40px;
        color: #132086;
    }

    dashboard_table {
        width: 1200px;
        height: 200px;
        margin: 100px auto;
        text-align: center;
    }

    .dashboard_table th {
        font-family: Tamil MN;
        font-size: 15px;
        color: #132086;
    }
    
    table, th, td {
        border: 3px solid #707070;
        border-collapse: collapse;
    }

}

