@media screen and (device-width: 1920px) and (device-height: 1080px){

    #after_log_web_header {
        display: inherit;
    }

    #view_button {

        border-radius: 20px;
        width: 200px;
        height: 40px;
        color: #747bb7;
        text-decoration: none;
    }

    header ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #F2F1F7;
        position: fixed;
        top: 0%;
        width: 100%;
    }
    
    header ri {
        float: right;
    }

    header ri a {
        display: block;
        color: white;
        text-align: center;
        padding: 15px 15px;
        text-decoration: none;
        font-family: "Tamil MN";
        font-weight: normal;
        font-size: 25px;
        color: #707070; 
        padding: 25px;
    }

    header ri button {
        display: block;
        color: white;
        text-align: center;
        padding: 15px 15px;
        text-decoration: none;
        font-family: "Tamil MN";
        font-weight: normal;
        font-size: 25px;
        color: #707070; 
        padding: 25px;
        border: none;
        background-color: transparent;
    }

    header li {
        float: left;
    }

    header li a {
        display: block;
        color: white;
        text-align: center;
        padding: 15px 15px;
        text-decoration: none;
        font-family: Arial;
        font-weight: bold;
        font-size: 20px;
        color: rgba(29, 32, 134, 0.65); 
        padding: 25px;
    }

    header li b {
        display: block;
        color: white;
        text-align: center;
        padding: 15px 15px;
        text-decoration: none;
        font-family: Arial;
        font-weight: bold;
        font-size: 20px;
        color: rgba(29, 32, 134, 1); 
        padding: 25px;
    }

    header li a:active {
        color: rgba(29, 32, 134, 1); 
    }

    .clinicianImg {
        position: fixed;
        top: 30px;
        right: 255px;
    }

    main {
        margin-top: 0;
        padding: 0;
    }


    .dashboard {
        background-image:url(/images/background.png);
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
    }

    .dashboard h1 {
        padding-top: 8%;
        padding-left: 6%;
        font-family: Tamil MN;
        font-size: 40px;
        color: #132086;
    }

    .dashboard h2 {
        padding-left: 81%;
        padding-top: 2.5%;
        font-family: Tamil MN;
        font-size: 20px;
        color: #808080;

    }

    .dashboard_table {
        /* table size*/
        width: 1700px;
        height: 690px;

        margin: 10px 150px;
        background-color: #FFFFFF;
        /*box-shadow: -50px -50px 2px #F2F2F2;*/

        border: 2.5px solid #707070;
        border-collapse: separate;
        border-spacing: 0;
        border-radius: 20px;
    }

    .dashboard_table th, .dashboard_table td {
        border: 2.5px solid #707070;
        border-bottom: 0px;

        border-left: 0px;
        border-collapse: separate;
        border-spacing: 0;
    }

    .dashboard_table th {
        height: 75px;
        font-family: Tamil MN;
        font-size: 15px;
        color: #132086;
        text-align: center;

        border-top: none;  
    }

    .dashboard_table td {
        font-family: Tamil MN;
        font-size: 15px;
        text-align: center;
    }

    .dashboard_table th:last-child {
        border-right: none;
    }

    .dashboard_table td:last-child {
        border-right: none;
    }

    .out_range {
        background-color: rgba(240, 141, 68, 0.27)
    }

    .not_required {
        background-color: rgba(229, 229, 229, 0.62)
    }

    .buttons {
        margin-left: 10%;
        margin-right: 5%;
    }

    .buttons .to_left {
        float: left;
        padding-top: 2%;
        margin-top: -20px;
    }

    .buttons .to_right {
        position: absolute;
        float: right bottom;
        padding-top: 2%;
        bottom: 45px;
        right: 120px;
        
    }




    .buttons .signup_button {
        text-decoration: none;
        text-align: center;
        background: #132086;
        color: white;
        font-family: Tamil MN;
        font-weight: bold;
        font-size: 15px;
        padding: 15px 40px;
        border-radius: 20px;
        border: none;
        opacity: 75%;
        margin-left: 42.5%;
        margin-top: 10px;
    }

    #submit_button {
        text-decoration: none;
        text-align: center;
        background: #132086;
        color: white;
        font-family: Tamil MN;
        font-weight: bold;
        font-size: 15px;
        padding: 15px 40px;
        border-radius: 20px;
        border: none;
        opacity: 75%;
        margin-left: 65%;
        margin-top: 10px;
        position: absolute;
        float: right bottom;
        right: 4%;
        bottom: 35px;
    }

    #page_num {
        width: 55px;
        height: 40px;
        border-radius: 15px;
        position: absolute;
        float: right bottom;
        right: 15%;
        bottom: 36px;
        text-align: center;
    }

    .invisible {
        display: none;
    }


}

