#id_content {
    display: none;
}

@media screen and (device-width: 1920px) and (device-height: 1080px){
    #phone_content {
        display: none;
    }

    #after_log_web_header {
        display: inherit;
    }

    header ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #F2F1F7;
        position: fixed;
        top: 0%;
        width: 100%;
    }
    
    header ri {
        float: right;
    }

    header ri a {
        display: block;
        color: white;
        text-align: center;
        padding: 15px 15px;
        margin-right: 10px;
        text-decoration: none;
        font-family: "Tamil MN";
        font-weight: normal;
        font-size: 25px;
        color: #707070; 
        padding: 25px;
    }

    header ri button {
        display: block;
        color: white;
        text-align: center;
        padding: 15px 15px;
        text-decoration: none;
        font-family: "Tamil MN";
        font-weight: normal;
        font-size: 25px;
        color: #707070; 
        padding: 25px;
        border: none;
        background-color: transparent;
    }

    header li {
        float: left;
    }

    header li a {
        display: block;
        color: white;
        text-align: center;
        padding: 15px 15px;
        text-decoration: none;
        font-family: Arial;
        font-weight: bold;
        font-size: 20px;
        color: rgba(29, 32, 134, 0.65); 
        padding: 25px;
    }

    header li b {
        display: block;
        color: white;
        text-align: center;
        padding: 15px 15px;
        text-decoration: none;
        font-family: Arial;
        font-weight: bold;
        font-size: 20px;
        color: rgba(29, 32, 134, 1); 
        padding: 25px;
    }

    header li a:active {
        color: rgba(29, 32, 134, 1); 
    }

    button.header_button {
        display: block;
        text-align: center;
        padding: 15px 15px;
        text-decoration: none;
        font-family: Arial;
        font-weight: bold;
        font-size: 20px;
        color: rgba(29, 32, 134, 0.65); 
        border: none;
        background-color: transparent;
        padding: 25px;
    }

    main {
        margin-top: 0;
        padding: 0;
    }

    .dashboard {
        background-image:url(/images/patient_bg.png);
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
    }

    .dashboard h1 {
        padding-top: 8%;
        padding-left: 6%;
        font-family: Tamil MN;
        font-size: 20px;
        color: #132086;
    }

    .dashboard h2 {
        padding-top: 8%;
        padding-left: 6%;
        font-family: Tamil MN;
        font-size: 40px;
        color: #132086;
    }

    .dashboard h3 {
        padding-left: 6%;
        font-family: Tamil MN;
        font-size: 35px;
        color: #132086;
    }

    .patient_info {
        width: 25%;
        height: 60%;
        float: left;
        padding-top: 4%;
    }

    .patient_info h1 {
        padding-left: 50%;
        padding-top: 25%;
    }

    .patient_info img {
        padding-top: 10%;
        padding-left: 55%;
    }

    .info_text {
        font-family: Tamil MN;
        font-size: 15px;
        font-weight: bold;
        color: #303030;

        padding-top: 10%;
        padding-left: 36%;
        text-align: center;
    }

    .achieved {
        width: 45%;
        float: left;
        padding-top: 6%;
        
    }

    .days {
        padding-top: 4%;
        padding-left: 7%;
        position: relative;
        height: 60%;
    }

    .days .image {
        padding-left: 5%;
    }

    .record_text {
        font-family: Tamil MN;
        font-size: 30px;
        font-weight: bold;
        color: #132086;
        text-align: left;

        padding-top: 3%;
        padding-left: 10%;
        position: absolute;

    }

    .form_input {
        font-family: Tamil MN;
        font-size: 30px;
        font-weight: bold;
        color: #132086;
        text-align: center;

        position: absolute;
        width: 50px;
        height: 50px;
        margin-top: 9%;
        margin-left: 56.5%;
    }

    .comment {
        size: 120%;
    }

    .ranking {
        width: 30%;
        height: 60%;
        float: left;
        padding-top: 3%;

        position: relative;
    }

    .ranking h1 {
        padding-top: 10%;
        position: absolute;
    }

    .ranking .image {
        height: 100px;
        width: 150px;
        padding-left: 65%;
    }

    .buttons {
        margin-right: 5%;
    }

    .buttons .record_button {
        text-decoration: none;
        text-align: center;
        background: #132086;
        color: white;
        font-family: Tamil MN;
        font-weight: bold;
        font-size: 15px;
        padding: 15px 40px;
        border-radius: 20px;
        border: none;
        opacity: 75%;

        margin-top: 0.5%;
    }

    .buttons .history_button {
        text-decoration: none;
        text-align: center;
        background: #132086;
        color: white;
        font-family: Tamil MN;
        font-weight: bold;
        font-size: 15px;
        padding: 15px 40px;
        border-radius: 20px;
        border: none;
        opacity: 75%;

        margin-left: 40%;
    }

}

@media screen and (device-width: 1024px) and (device-height: 768px){
    
    #phone_content {
        display: none;
    }

    #after_log_web_header {
        display: inherit;
    }

    header ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #F2F1F7;
        position: fixed;
        top: 0%;
        height: 8%;
        width: 100%;
    }

    header ri {
        float: right;
    }

    header ri a {
        display: block;
        text-align: center;
        padding: 15px 15px;
        margin-right: 10px;
        text-decoration: none;
        font-family: "Tamil MN";
        font-weight: normal;
        font-size: 17px;
        color: #707070; 
        padding: 25px;
    }

    header ri button {
        display: block;
        text-align: center;
        padding: 15px 15px;
        text-decoration: none;
        font-family: "Tamil MN";
        font-weight: normal;
        font-size: 17px;
        color: #707070; 
        padding: 25px;
        border: none;
        background-color: transparent;
    }

    header li {
        float: left;
    }

    header li a {
        display: block;
        text-align: center;
        padding: 15px 15px;
        text-decoration: none;
        font-family: Arial;
        font-weight: bold;
        font-size: 15px;
        color: rgba(29, 32, 134, 0.65); 
        padding: 25px;
    }

    header li b {
        display: block;
        color: white;
        text-align: center;
        padding: 15px 15px;
        text-decoration: none;
        font-family: Arial;
        font-weight: bold;
        font-size: 15px;
        color: rgba(29, 32, 134, 1); 
        padding: 25px;
    }

    header li a:active {
        color: rgba(29, 32, 134, 1); 
    }

    button.header_button {
        display: block;
        text-align: center;
        padding: 15px 15px;
        text-decoration: none;
        font-family: Arial;
        font-weight: bold;
        font-size: 15px;
        color: rgba(29, 32, 134, 0.65); 
        border: none;
        background-color: transparent;
        padding: 25px;
    }

    .patient_img {
        height: 47px;
        width: 47px;
        position: fixed;
        top: 9px;
        right: 215px;
    }

    main {
        margin-top: 0;
        padding: 0;
    }

    .dashboard {
        background-image:url(/images/bg_ipad.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
    }

    .dashboard h1 {
        padding-top: 14%;
        padding-left: 6%;
        font-family: Tamil MN;
        font-size: 15px;
        color: #132086;
    }

    .dashboard h2 {
        padding-top: 9%;
        padding-left: 6%;
        font-family: Tamil MN;
        font-size: 25px;
        color: #132086;
    }

    .dashboard h3 {
        padding-left: 6%;
        font-family: Tamil MN;
        font-size: 25px;
        color: #132086;
    }

    .patient_info {
        width: 25%;
        height: 60%;
        float: left;
        padding-top: 4%;
    }

    .patient_info h1 {
        padding-left: 50%;
        padding-top: 25%;
    }

    .patient_info img {
        padding-top: 10%;
        padding-left: 55%;
    }

    .info_text {
        font-family: Tamil MN;
        font-size: 15px;
        font-weight: bold;
        color: #303030;

        padding-top: 10%;
        padding-left: 36%;
        text-align: center;
    }

    .achieved {
        width: 45%;
        float: left;
        padding-top: 6%;
        
    }

    .days {
        padding-top: 4%;
        padding-left: 7%;
        position: relative;
        height: 60%;
    }

    .days .image {
        padding-left: 5%;
    }

    .record_text {
        font-family: Tamil MN;
        font-size: 30px;
        font-weight: bold;
        color: #132086;
        text-align: left;

        padding-top: 3%;
        padding-left: 10%;
        position: absolute;

    }

    .form_input {
        font-family: Tamil MN;
        font-size: 30px;
        font-weight: bold;
        color: #132086;
        text-align: center;

        position: absolute;
        width: 50px;
        height: 50px;
        margin-top: 9%;
        margin-left: 56.5%;
    }

    .comment {
        size: 120%;
    }

    .ranking {
        width: 30%;
        height: 60%;
        float: left;
        padding-top: 3%;

        position: relative;
    }

    .ranking h1 {
        padding-top: 10%;
        position: absolute;
    }

    .ranking .image {
        height: 100px;
        width: 150px;
        padding-left: 65%;
    }

    .buttons {
        margin-right: 5%;
    }

    .buttons .record_button {
        text-decoration: none;
        text-align: center;
        background: #132086;
        color: white;
        font-family: Tamil MN;
        font-weight: bold;
        font-size: 15px;
        padding: 15px 40px;
        border-radius: 20px;
        border: none;
        opacity: 75%;

        margin-top: 0.5%;
    }

    .buttons .history_button {
        text-decoration: none;
        text-align: center;
        background: #132086;
        color: white;
        font-family: Tamil MN;
        font-weight: bold;
        font-size: 15px;
        padding: 15px 40px;
        border-radius: 20px;
        border: none;
        opacity: 75%;

        margin-left: 40%;
    }

}

@media screen and (device-width: 1920px) and (device-height: 1080px){
    #phone_content {
        display: none;
    }

    #after_log_web_header {
        display: inherit;
    }

    .darkmode header ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #282939;
        position: fixed;
        top: 0%;
        width: 100%;
    }

    .darkmode header ri a {
        display: block;
        text-align: center;
        padding: 15px 15px;
        margin-right: 10px;
        text-decoration: none;
        font-family: "Tamil MN";
        font-weight: normal;
        font-size: 25px;
        color: #d0d0d0; 
        padding: 25px;
    }

    .darkmode header li a {
        display: block;
        text-align: center;
        padding: 15px 15px;
        text-decoration: none;
        font-family: Arial;
        font-weight: bold;
        font-size: 20px;
        color: rgba(208, 208, 208, 0.65); 
        padding: 25px;
    }

    .darkmode header li b {
        display: block;
        text-align: center;
        padding: 15px 15px;
        text-decoration: none;
        font-family: Arial;
        font-weight: bold;
        font-size: 20px;
        color: rgba(208, 208, 208, 1); 
        padding: 25px;
    }

    .darkmode header li a:active {
        color: rgba(208, 208, 208, 1); 
    }


    .darkmode header li button {
        display: block;
        text-align: center;
        padding: 15px 15px;
        text-decoration: none;
        font-family: "Tamil MN";
        font-weight: normal;
        font-size: 25px;
        color: #d0d0d0; 
        padding: 25px;
        border: none;
        background-color: transparent;
    }

    .darkmode button.header_button {
        display: block;
        text-align: center;
        padding: 15px 15px;
        text-decoration: none;
        font-family: Arial;
        font-weight: bold;
        font-size: 20px;
        color: rgba(208, 208, 208, 0.65); 
        border: none;
        background-color: transparent;
        padding: 25px;
    }

    .darkmode .dashboard {
        background-image:url(/images/background_dark.png);
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
    }

    .darkmode .dashboard h1 {
        font-family: "Tamil MN";
        font-size: 20px;
        color: #d0d0d0;
    }

    .darkmode .dashboard h2 {
        padding-top: 8%;
        padding-left: 6%;
        font-family: "Tamil MN";
        font-size: 40px;
        color: #d0d0d0;
    }

    .darkmode .dashboard h3 {
        padding-left: 6%;
        font-family: Tamil MN;
        font-size: 35px;
        color: #d0d0d0;
    }

    .darkmode .info_text {
        font-family: Tamil MN;
        font-size: 15px;
        font-weight: bold;
        color: #d0d0d0;

        padding-top: 10%;
        padding-left: 36%;
        text-align: center;
    }

    .darkmode .record_text {
        font-family: Tamil MN;
        font-size: 30px;
        font-weight: bold;
        color: #d0d0d0;
        text-align: left;

        padding-top: 3%;
        padding-left: 10%;
        position: absolute;

    }

    .darkmode .form_input {
        font-family: Tamil MN;
        font-size: 30px;
        font-weight: bold;
        color: #d0d0d0;
        text-align: center;

        position: absolute;
        width: 50px;
        height: 50px;
        margin-top: 9%;
        margin-left: 56.5%;
    }

    .darkmode .buttons .record_button {
        text-decoration: none;
        text-align: center;
        background: #d0d0d0;
        color: #2D2F42;
        font-family: Tamil MN;
        font-weight: bold;
        font-size: 15px;
        padding: 15px 40px;
        border-radius: 20px;
        border: none;
        opacity: 75%;

        margin-top: 0.5%;
    }

    .darkmode .buttons .history_button {
        text-decoration: none;
        text-align: center;
        background: #d0d0d0;
        color: #2D2F42;
        font-family: "Tamil MN";
        font-weight: bold;
        font-size: 15px;
        padding: 15px 40px;
        border-radius: 20px;
        border: none;
        opacity: 75%;

        margin-left: 40%;
    }

}
