

@media screen and (device-width: 1920px) and (device-height: 1080px){

}

@media screen and (device-width: 1024px) and (device-height: 768px){

}

@media screen and (device-width: 375px) and (device-height: 812px){
    main {
        margin-top: 60px;
    }

    #user_info {
        padding-bottom: 115px;
        background-image: url(/images/rec.png);
        background-repeat: no-repeat;
        text-align: center;
    }

    #user_avatar {
        position: inherit;
        padding: 30px;
    }

    #screen_name {
        font-size: 15px;
        font-family: Tamil MN;
        color: #303030;
    }

    .radio{
        width: 20px;
        height: 20px;
        appearance: none;
        position: relative;
    }
    .radio:before{
        content: '';
        width: 20px;
        height: 20px;
        border: 1px solid #7d7d7d;
        display: inline-block;
        border-radius: 50%;
        vertical-align: middle;
    }

    .radio:checked:before{
        content: '';
        width: 20px;
        height: 20px;
        border: 2px solid #132086;
        display: inline-block;
        border-radius: 50%;
        vertical-align: middle;
     }
     .radio:checked:after{
        content: '';
        width: 12px;
        height: 12px;
        text-align: center;
        background:#132086;
        border-radius: 50%;
        display: block;
        position: absolute;
        top: 6px;
        left: 6px;
     }

    .comment_icon {
         background-image: url(/images/comment_icon.png) center no-repeat;
         font-size: 16px;
         background-size: cover;
     }

    #data_form {
        padding-left: 35px;
    }

    .form_label {
         padding-left: 22px;
         font-family: Tamil MN;
         font-weight: bold;
         color: #303030;
     }

    .form_icon {
         padding-left: 20px;
     }


    .form_info {
         float: right;
         padding:20px;
    }

    .form_unit {
        font-family: Tamil MN;
        font-weight: bold;
        color: #303030;
    }

    .form_input {
        border: none;
        border-bottom: 1px solid #303030;
        width: 68px;
        text-align: center;
    }

    #submit {
        width: 92px;
        height: 36px;
        background: #6470C7;
        border: none;
        border-radius: 35px;
        color: white;
        font-family: Tamil MN;
        font-weight: 600;
        font-size: 15px;
        position: fixed;
        right: 25px;
        bottom: 50px;
    }


}