

@media screen and (device-width: 1920px) and (device-height: 1080px){
    #phone_content {
        display: none;
    }

    #comment_box_for_other_device {
        border-radius:10px;
        font-size: 15px;
    }


    .form_digit {
        font-family: Tamil MN;
        font-weight: bold;
        text-align: right;
        color:#7d7d7d;
        font-size: 10px;
    }

    a{
        text-decoration:none
    }

    html{
        height: 100%;
        background:url(../img/ttt.png) no-repeat;
        background-size: cover;
    
        
    }



    .header{
        position: absolute;
        top: 0;
        width: 100%;
        height: 78px;
        display: flex;
        justify-content: space-between;
        background-color: #F2F1F7;
    }
    .head_left,.head_right{
        padding-left: 40px;
        display: flex;
        
    }
    .head_left a,.head_right a{
        color: #132086;
        opacity: 0.65;
        line-height: 78px;
        padding-left: 40px;	
    }
    .head_right a{
        padding-right: 40px;
        
    }
    .head_right a img{
        vertical-align: middle;
    }
    .center_box{
        width: 70%;
        margin:  0 auto;
        background-color: #fff;
          height: 60vh;
        margin-top: 200px;
        border: 3px solid #747bb7;
        border-radius: 14px;
        
        position: relative;
           
    }

    .form_input {
        border: none;
        border-bottom: 1px solid #303030;
        width: 68px;
        text-align: center;
    }

    .center_box::before{
        content: '';
            display: block;
            height: 60vh;
            width: 100%;
            top: -32px;
            left: -36px;
            opacity: 0.5;
            position: absolute;
            border-radius: 40px;
            z-index: -1;
            background: #e0e0e0;
    }
    .center_box>.title{
        color: #132086;
        opacity: 0.65;
        position: absolute;
        top: -83px;
        font-size: 20px;
    }
    form{
        display: flex;
            flex-direction: column;
                height: 100%;
    }
    .form_head{
            display: flex;
            justify-content: space-around;
            height: 80%;
    }
    .form_part_one{
            width: 60%;
            border-right: 2px solid;
    }
    .form_part_one_left{
        display: flex;
    }
    .form_name,.form_info{
        padding: 20px;
    }
    
    .form_name>.title,.form_info>.title{
        color: #132086;
            opacity: 0.65;
            font-size: 16px;
    }
    .form_info>.title{
        margin-bottom: 50px;
    }
    
    .form_foot{
        border-top: 2px solid;
        padding: 0 10px;
        display: flex;
        height: 100px;
        justify-content: space-between;
        padding-top: 40px;
        position: relative;
    }

    .title {
        font-weight: bold;
    }

    .formbox{
        position: absolute;
        top: 20px;
        display: flex;
        width: 98%;
        justify-content: space-between;
    }
    .form_part_one_right{
        color: #132086;
        opacity: 0.65;
        padding-top: 20px;
        padding-right: 30px;
    }
    .form_part_one_right>p{
        margin-bottom: 40px;
    }
    .form_part_one_right>div{
        border-bottom:1px solid #bcbcbc ;
        margin-bottom: 40px;
    }
    .arror_left{
        margin-left: 20px;
    }
    .arror_right{
        margin-right: 20px;
    }
    .arror_left i,.arror_right i{
        font-size: 20px;
    }
    .arror_left button{
        outline: none;
            background: #747bb7;
            border-radius: 20px;
            border: navajowhite;
            width: 150px;
            height: 40px;
            color: #fff;
            margin-left: 60px;
    }
    .arror_right button{
        outline: none;
            background: #747bb7;
            border-radius: 20px;
            border: navajowhite;
            width: 200px;
            height: 40px;
            color: #fff;
            margin-right: 60px;
    }
    .normal_text{
        font-weight: bold;
    }

    #avatar {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    #submit {
        outline: none;
            background: #747bb7;
            border-radius: 20px;
            border: navajowhite;
            width: 150px;
            height: 40px;
            color: #fff;
            margin-left: 60px;
    }

}

@media screen and (device-width: 1024px) and (device-height: 768px){
    #phone_content {
        display: none;
    }

    .form_digit {
        font-family: Tamil MN;
        font-weight: bold;
        text-align: right;
        color:#7d7d7d;
        font-size: 10px;
    }

    #comment_box_for_other_device {
        border-radius:10px;
        font-size: 15px;
        margin: 10px;
    }

    #submit {
        outline: none;
            background: #747bb7;
            border-radius: 20px;
            border: navajowhite;
            width: 150px;
            height: 40px;
            color: #fff;
            margin-left: 60px;
    }
    #avatar {
        padding-top: 30px;
        padding-bottom: 30px;
        height: 120px;
        width: 120px;
    }


    .title {
        font-weight: bold;
    }

    .normal_text{
        font-weight: bold;
    }

    #phone_content {
        display: none;
    }

    a{
        text-decoration:none
    }

    html{
        height: 100%;
        background:url(../img/ttt.png) no-repeat;
        background-size: cover;
    
        
    }
    .header{
        position: absolute;
        top: 0;
        width: 100%;
        height: 78px;
        display: flex;
        justify-content: space-between;
        background-color: #F2F1F7;
    }
    .head_left,.head_right{
        padding-left: 40px;
        display: flex;
        
    }
    .head_left a,.head_right a{
        color: #132086;
        opacity: 0.65;
        line-height: 78px;
        padding-left: 40px;	
    }
    .head_right a{
        padding-right: 40px;
    }
    .head_right a img{
        vertical-align: middle;
    }

    .form_input {
        border: none;
        border-bottom: 1px solid #303030;
        width: 50px;
        text-align: center;
    }



    .center_box{
        width: 70%;
        margin:  0 auto;
        background-color: #fff;
          height: 60vh;
        margin-top: 200px;
        border: 3px solid #747bb7;
        border-radius: 14px;
        
        position: relative;
           
    }
    .center_box::before{
        content: '';
            display: block;
            height: 60vh;
            width: 100%;
            top: -32px;
            left: -36px;
            opacity: 0.5;
            position: absolute;
            border-radius: 40px;
            z-index: -1;
            background: #e0e0e0;
    }
    .center_box>.title{
        color: #132086;
        opacity: 0.65;
        position: absolute;
        top: -83px;
        font-size: 20px;
    }
    form{
        display: flex;
            flex-direction: column;
                height: 100%;
    }
    .form_head{
            display: flex;
            justify-content: space-around;
            height: 80%;
    }
    .form_part_one{
            width: 60%;
            border-right: 2px solid;
    }
    .form_part_one_left{
        display: flex;
        
        
    }
    .form_name,.form_info{
        padding: 20px;
    }
    
    .form_name>.title,.form_info>.title{
        color: #132086;
            opacity: 0.65;
            font-size: 16px;
    }
    .form_info>.title{
        margin-bottom: 30px;
    }
    
    .form_foot{
        border-top: 2px solid;
            padding: 0 10px;
            display: flex;
            height: 100px;
            justify-content: space-between;
                padding-top: 40px;
            position: relative;
    }
    .formbox{
        position: absolute;
        top: 38px;
        display: flex;
        width: 98%;
        justify-content: space-between;
    }
    .form_part_one_right{
        color: #132086;
            opacity: 0.65;
    }
    .form_part_one_right>p{
        margin-bottom: 40px;
    }
    .form_part_one_right>div{
        border-bottom:1px solid #bcbcbc ;
        margin-bottom: 40px;
    }
    .arror_left{
        margin-left: 20px;
    }
    .arror_right{
        margin-right: 20px;
    }
    .arror_left i,.arror_right i{
        font-size: 20px;
    }
    .arror_left button{
        outline: none;
            background: #747bb7;
            border-radius: 20px;
            border: navajowhite;
            width: 150px;
            height: 40px;
            color: #fff;
            margin-left: 60px;
    }
    .arror_right button{
        outline: none;
            background: #747bb7;
            border-radius: 20px;
            border: navajowhite;
            width: 200px;
            height: 40px;
            color: #fff;
            margin-right: 60px;
    }

    @media (max-width:1024px) {
        .head_left{
            padding-left:0px
        }
        .center_box{
            width:80%
        }

        .form_name p,.form_info{
            font-size:12px;
        }
        .form_part_one_left{
            display: flex;
            justify-content: space-between;
            
        }
        .form_name, .form_info{
            padding: 10px;
            padding-top:26px
        }
        .form_part_two{
            padding-top:26px
        }
        .form_name>.title, .form_info>.title{
            font-size: 14px;
        }
        .form_part_one_right>p{
            font-size:14px;
        }
        .formbox{
            top: 36px;
        }
    }
}

@media screen and (device-width: 375px) and (device-height: 812px){
    #other_content {
        display: none;
    }

    main {
        margin-top: 60px;
    }

    #user_info {
        padding-bottom: 115px;
        background-image: url(/images/rec.png);
        background-repeat: no-repeat;
        text-align: center;
    }

    #user_avatar {
        position: inherit;
        padding: 30px;
    }

    #screen_name {
        font-size: 15px;
        font-family: Tamil MN;
        color: #303030;
    }

    .radio{
        width: 20px;
        height: 20px;
        appearance: none;
        position: relative;
    }
    .radio:before{
        content: '';
        width: 20px;
        height: 20px;
        border: 1px solid #7d7d7d;
        display: inline-block;
        border-radius: 50%;
        vertical-align: middle;
    }

    .radio:checked:before{
        content: '';
        width: 20px;
        height: 20px;
        border: 2px solid #132086;
        display: inline-block;
        border-radius: 50%;
        vertical-align: middle;
     }
     .radio:checked:after{
        content: '';
        width: 12px;
        height: 12px;
        text-align: center;
        background:#132086;
        border-radius: 50%;
        display: block;
        position: absolute;
        top: 6px;
        left: 6px;
     }

    .comment_icon {
         background-image: url(/images/comment_icon.png) center no-repeat;
         font-size: 16px;
         background-size: cover;
     }

    #data_form {
        padding-left: 35px;
    }

    .form_label {
         padding-left: 22px;
         font-family: Tamil MN;
         font-weight: bold;
         color: #303030;
     }

    .form_icon {
         padding-left: 20px;
     }


    .form_info {
         float: right;
         padding:20px;
    }

    .form_unit {
        font-family: Tamil MN;
        font-weight: bold;
        color: #303030;
    }

    .form_input {
        border: none;
        border-bottom: 1px solid #303030;
        width: 68px;
        text-align: center;
    }

    .form_digit {
        font-family: Tamil MN;
        font-weight: bold;
        text-align: right;
        color:#7d7d7d;
        font-size: 10px;
    }

    #comment_form {
        margin-top: 80px;
        text-align: center;
        border: 2px solid #303030;
        border-radius: 10px;
        padding: 5px;
        margin-left: -25px;
        margin-right: 10px;
    }

    #comment_box {
        border-radius:10px;
        font-size: 15px;
        line-height: 25px;
    }

    .normal_text {
        padding-top: 10px;
        padding-bottom: 10px;
        font-family: Tamil MN;
        font-weight: bold;
        color: #303030;
    }

    #submit {
        width: 92px;
        height: 36px;
        background: #6470C7;
        border: none;
        border-radius: 35px;
        color: white;
        font-family: Tamil MN;
        font-weight: 600;
        font-size: 15px;
        position: fixed;
        right: 25px;
        bottom: 50px;
    }


}